*{
    color: #333333;
    font-family: Century Gothic, sans-serif !important;
}

p,h1{
align-items: center;
color: #718CA3;
background-color: lightgrey;
}


.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container2 {
    padding: 2px 16px;
  }

  #CEO{
    box-shadow: 10px 10px 5px lightblue;
    background-color:  #D1F0ED;
    border: 2px solid #477BF4
    ;
    padding: 10px;
    border-radius: 25px;
  }

  #fundador {
    box-shadow: 10px 10px 5px lightblue;
    background-color:  #D1F0ED;
    border: 2px solid #E1D178
    ;
    padding: 10px;
    border-radius: 25px;
  }
  
  #encargado {
    box-shadow: 10px 10px 5px lightblue;
    background-color:  #D1F0ED;
    border: 2px solid #79DDDA
    ;
    padding: 10px;
    border-radius: 25px;
  }
  
  